# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json

# Playwright
.cache/
playwright-report/

# Output files
output_pdfs/
output_texts/
*.pdf
*.md

# IDE settings
.idea/
.vscode/